<div class="match">
## Match 1
**Similarity Score:** 0.9425 | **Matching Composition:** obverse

### Nodes
* Un5 **Unit:Coin** {src_url:"https://www.corpus-nummorum.eu/CN_11396",diameter_in_mm:21,weight_in_g:4.18,slug:"coin-cn-11396"}
* Co49 **Composition:CoinReverse** {slug:"reverse"}
* CoGr90 **CompositionGroup** {slug:"coin-legend",group_function:"TextContainer"}
* Re89 **Reading** {read_string:"ΒΙΖVΗΝΩΝ",certainty:1.0,lang:"GRC",slug:"coin-legend",reasoning_statement:"Separeted in 3 segments: ΒΙ-ΖV-ΗΝΩΝ, along rim",timestamp:"2026-02-18",status:"Primary"}
* Ag13 **Agent:HumanAgent** {slug:"human-researcher"}
* CoEn70 **CompositionEntity** {slug:"patera"}
* In71 **Interpretation** {certainty:1.0,reasoning_statement:"flat vessel, typical for sacrifice",slug:"ptera",timestamp:"2026-02-18",status:"Primary"}
* Co72 **Concept:Entity** {ancestor_slugs:["vessel","object"],slug:"ptera"}
* CoEn69 **CompositionEntity** {slug:"altar"}
* In68 **Interpretation** {certainty:1.0,reasoning_statement:"small column-like altar",slug:"altar",timestamp:"2026-02-18",status:"Primary"}
* Co67 **Concept:Entity** {ancestor_slugs:["building","object"],slug:"altar"}
* CoEn62 **CompositionEntity** {slug:"sceptre"}
* In52 **Interpretation** {certainty:1.0,reasoning_statement:"long, staff-like sceptre",slug:"sceptre",timestamp:"2026-02-18",status:"Primary"}
* Co61 **Concept:Entity** {ancestor_slugs:["object"],slug:"sceptre"}
* CoEn50 **CompositionEntity** {slug:"zeus"}
* CoFe55 **CompositionFeature** {slug:"standing"}
* In56 **Interpretation** {certainty:1.0,reasoning_statement:"Clear visual posture",slug:"standing",timestamp:"2026-02-18",status:"Primary"}
* Co57 **Concept:Feature** {ancestor_slugs:["posture"],slug:"standing"}
* CoFe54 **CompositionFeature** {slug:"nude"}
* In53 **Interpretation** {certainty:1.0,reasoning_statement:"Obviously no clothing",slug:"nude",timestamp:"2026-02-18",status:"Primary"}
* Co64 **Concept:Feature** {ancestor_slugs:["dressing-state"],slug:"nude"}
* CoRe74 **CompositionRelation** {slug:"holding"}
* CoMo84 **CompositionModifier** {slug:"using-left-hand"}
* In83 **Interpretation** {certainty:1.0,slug:"using-left-hand",reasoning_statement:"",timestamp:"2026-02-18",status:"Primary"}
* Co82 **Concept:Modifier** {ancestor_slugs:["using-hand"],slug:"using-left-hand"}
* In81 **Interpretation** {certainty:1.0,slug:"holding",reasoning_statement:"",timestamp:"2026-02-18",status:"Primary"}
* Co80 **Concept:Relation** {slug:"holding"}
* CoRe73 **CompositionRelation** {slug:"holding"}
* CoEv85 **CompositionEvent** {slug:"sacrifice"}
* In86 **Interpretation** {certainty:1.0,slug:"scrifice",reasoning_statement:"",timestamp:"2026-02-18",status:"Primary"}
* Co87 **Concept:Event** {ancestor_slugs:["ritual"],slug:"sacrifice"}
* CoMo78 **CompositionModifier** {slug:"using-right-hand"}
* In77 **Interpretation** {certainty:1.0,slug:"using-right-hand",reasoning_statement:"",timestamp:"2026-02-18",status:"Primary"}
* Co76 **Concept:Modifier** {ancestor_slugs:["using-hand"],slug:"using-right-hand"}
* In79 **Interpretation** {certainty:1.0,slug:"holding",reasoning_statement:"",timestamp:"2026-02-18",status:"Primary"}
* In51 **Interpretation** {certainty:1.0,reasoning_statement:"Typical attributes for Zeus",slug:"zeus",timestamp:"2026-02-18",status:"Primary"}
* Co9 **Concept:Entity** {ancestor_slugs:["deity","figure"],slug:"zeus"}
* UnMa44 **UnitMaterial** {slug:"bronze"}
* In43 **Interpretation** {certainty:1.0,reasoning_statement:"Attestet by autopsy",slug:"material",timestamp:"2026-02-18",status:"Primary"}
* Ma42 **Concept:Material** {slug:"bronze"}
* Co6 **Composition:CoinObverse** {slug:"obverse"}
* CoEn7 **CompositionEntity** {slug:"figure"}
* CoFe27 **CompositionFeature** {slug:"bearded"}
* In35 **Interpretation** {certainty:1.0,reasoning_statement:"A beard is clearly observable",slug:"bearded",timestamp:"2026-02-18",status:"Primary"}
* Co36 **Concept:Feature** {slug:"bearded"}
* In12 **Interpretation** {certainty:1.0,slug:"figure",reasoning_statement:"Morphologically human, but could be a deity",timestamp:"2026-02-18",status:"Primary"}
* Co26 **Concept:Entity** {slug:"figure"}
* In8 **Interpretation** {certainty:0.5,reasoning_statement:"The complementary use of Zeus on the reverse suggests that the figure on the obverse should also be interpreted as Zeus.",slug:"zeus",timestamp:"2026-02-18",status:"Alternative"}
* Ar17 **Architectonic:Methodology** {ancestor_slugs:["supporting-observation"],slug:"complementarity"}
* SoRe31 **SourceReference** {reference:"P. 79, nr. 170, pl. 28, fig. 170",reference_statement:"Jurukova stated Poseidon, no reasoning",slug:"jurukova-1981"}
* Ar25 **Architectonic:Methodology** {ancestor_slugs:["evidentiary-relationship"],slug:"conflicting"}
* So32 **Source** {zotero_url:"https://www.zotero.org/groups/163139/thrakien/items/7NDGISAV",title:"Jurukova, Die Münzprägung von Bizye, Berlin 1981",slug:"jurukova-1981"}
* Ar18 **Architectonic:Methodology** {ancestor_slugs:["source-of-uncertainty"],slug:"missing-attributes"}
* SoRe22 **SourceReference** {reference:"P. 180-181, nr. 4, pl. 1",reference_statement:"Tachev stated Zeus, no reasoning",slug:"tachev-2019"}
* Ar34 **Architectonic:Methodology** {ancestor_slugs:["evidentiary-relationship"],slug:"concurring"}
* So23 **Source** {zotero_url:"https://www.zotero.org/groups/163139/thrakien/items/KVI53PAJ",title:"Tachev, The Coinage of Bizye, Sofija 2019",slug:"tachev-2019"}
* CoFe37 **CompositionFeature** {slug:"male"}
* In38 **Interpretation** {certainty:1.0,reasoning_statement:"Typical male attribute (beard)",slug:"male",timestamp:"2026-02-18",status:"Primary"}
* Co39 **Concept:Feature** {slug:"male"}
* CoFe28 **CompositionFeature** {slug:"portrait"}
* In21 **Interpretation** {certainty:1.0,slug:"portrait",reasoning_statement:"Clear visual truncation, shoulder line",timestamp:"2026-02-18",status:"Primary"}
* Co29 **Concept:Feature** {ancestor_slugs:["visual-scope"],slug:"portrait"}
* In14 **Interpretation** {certainty:0.4,slug:"poseidon",reasoning_statement:"This form of depiction is documented for Poseidon, but not for this mint.",timestamp:"2026-02-18",status:"Alternative"}
* Co11 **Concept:Entity** {ancestor_slugs:["deity","figure"],slug:"poseidon"}
* Ar20 **Architectonic:Methodology** {ancestor_slugs:["source-of-uncertainty"],slug:"no-local-iconographical-tradition"}
* SoRe24 **SourceReference** {reference:"P. 180-181, nr. 4, pl. 1",reference_statement:"Tachev stated Zeus, no reasoning",slug:"tachev-2019"}
* Ar15 **Architectonic:Methodology** {ancestor_slugs:["supporting-observation"],slug:"known-iconographic-cheme"}
* SoRe33 **SourceReference** {reference:"P. 79, nr. 170, pl. 28, fig. 170",reference_statement:"Jurukova stated Poseidon, no reasoning",slug:"jurukova-1981"}
* Da48 **UnitDating** {year_min:138,reasoning_statement:"During the reign of Antoninus Pius",slug:"roman-imperial-time",year_max:161,timestamp:"2026-02-18",status:"Primary"}
* UnPrPl4 **UnitProductionPlace** {slug:"bizya"}
* In3 **Interpretation** {certainty:1.0,slug:"minting",reasoning_statement:"",timestamp:"2026-02-18",status:"Primary"}
* Co2 **Concept:Location** {ancestor_slugs:["thrace"],slug:"bizya"}
* UnDe45 **UnitDenomination** {slug:"one-and-half"}
* In46 **Interpretation** {certainty:1.0,reasoning_statement:"Based on weight, size and material",slug:"denomination",timestamp:"2026-02-18",status:"Primary"}
* Co47 **Concept:Denomination** {slug:"unit"}

### Relations
* (Un5)-[:HAS_COMPOSITION]->(Co49)
* (Co49)-[:HAS_COMPOSITION_GROUP]->(CoGr90)
* (CoGr90)-[:HAS_READING]->(Re89)
* (Re89)-[:STATED_BY]->(Ag13)
* (Co49)-[:HAS_COMPOSITION_ENTITY]->(CoEn70)
* (CoEn70)-[:HAS_INTERPRETATION]->(In71)
* (In71)-[:STATED_BY]->(Ag13)
* (In71)-[:IDENTIFIED_AS]->(Co72)
* (Co49)-[:HAS_COMPOSITION_ENTITY]->(CoEn69)
* (CoEn69)-[:HAS_INTERPRETATION]->(In68)
* (In68)-[:STATED_BY]->(Ag13)
* (In68)-[:IDENTIFIED_AS]->(Co67)
* (Co49)-[:HAS_COMPOSITION_ENTITY]->(CoEn62)
* (CoEn62)-[:HAS_INTERPRETATION]->(In52)
* (In52)-[:IDENTIFIED_AS]->(Co61)
* (In52)-[:STATED_BY]->(Ag13)
* (Co49)-[:HAS_COMPOSITION_ENTITY]->(CoEn50)
* (CoEn50)-[:HAS_COMPOSITION_FEATURE]->(CoFe55)
* (CoFe55)-[:HAS_INTERPRETATION]->(In56)
* (In56)-[:STATED_BY]->(Ag13)
* (In56)-[:IDENTIFIED_AS]->(Co57)
* (CoEn50)-[:HAS_COMPOSITION_FEATURE]->(CoFe54)
* (CoFe54)-[:HAS_INTERPRETATION]->(In53)
* (In53)-[:STATED_BY]->(Ag13)
* (In53)-[:IDENTIFIED_AS]->(Co64)
* (CoEn50)-[:HAS_COMPOSITION_RELATION]->(CoRe74)
* (CoRe74)-[:HAS_COMPOSITION_MODIFIER]->(CoMo84)
* (CoMo84)-[:HAS_INTERPRETATION]->(In83)
* (In83)-[:STATED_BY]->(Ag13)
* (In83)-[:IDENTIFIED_AS]->(Co82)
* (CoRe74)-[:HAS_INTERPRETATION]->(In81)
* (In81)-[:IDENTIFIED_AS]->(Co80)
* (In81)-[:STATED_BY]->(Ag13)
* (CoRe74)-[:HAS_COMPOSITION_RELATION_OBJECT]->(CoEn62)
* (CoEn50)-[:HAS_COMPOSITION_RELATION]->(CoRe73)
* (CoRe73)-[:HAS_COMPOSITION_EVENT]->(CoEv85)
* (CoEv85)-[:HAS_INTERPRETATION]->(In86)
* (In86)-[:IDENTIFIED_AS]->(Co87)
* (In86)-[:STATED_BY]->(Ag13)
* (CoRe73)-[:HAS_COMPOSITION_MODIFIER]->(CoMo78)
* (CoMo78)-[:HAS_INTERPRETATION]->(In77)
* (In77)-[:STATED_BY]->(Ag13)
* (In77)-[:IDENTIFIED_AS]->(Co76)
* (CoRe73)-[:HAS_INTERPRETATION]->(In79)
* (In79)-[:IDENTIFIED_AS]->(Co80)
* (In79)-[:STATED_BY]->(Ag13)
* (CoRe73)-[:HAS_COMPOSITION_RELATION_OBJECT]->(CoEn70)
* (CoEn50)-[:HAS_INTERPRETATION]->(In51)
* (In51)-[:STATED_BY]->(Ag13)
* (In51)-[:_RELATED]->(Co9)
* (Un5)-[:HAS_MATERIAL]->(UnMa44)
* (UnMa44)-[:HAS_INTERPRETATION]->(In43)
* (In43)-[:STATED_BY]->(Ag13)
* (In43)-[:IDENTIFIED_AS]->(Ma42)
* (Un5)-[:HAS_COMPOSITION]->(Co6)
* (Co6)-[:HAS_COMPOSITION_ENTITY]->(CoEn7)
* (CoEn7)-[:HAS_COMPOSITION_FEATURE]->(CoFe27)
* (CoFe27)-[:HAS_INTERPRETATION]->(In35)
* (In35)-[:IDENTIFIED_AS]->(Co36)
* (In35)-[:STATED_BY]->(Ag13)
* (CoEn7)-[:HAS_INTERPRETATION]->(In12)
* (In12)-[:IDENTIFIED_AS]->(Co26)
* (In12)-[:STATED_BY]->(Ag13)
* (CoEn7)-[:HAS_INTERPRETATION]->(In8)
* (In8)-[:STATED_BY]->(Ag13)
* (In8)-[:SUPPORTED_BY]->(Ar17)
* (In8)-[:HAS_SOURCE_REFERENCE]->(SoRe31)
* (SoRe31)-[:HAS_EVIDENTIARY_RELATIONSHIP]->(Ar25)
* (SoRe31)-[:HAS_SOURCE]->(So32)
* (In8)-[:IDENTIFIED_AS]->(Co9)
* (In8)-[:IMPAIRED_BY]->(Ar18)
* (In8)-[:HAS_SOURCE_REFERENCE]->(SoRe22)
* (SoRe22)-[:HAS_EVIDENTIARY_RELATIONSHIP]->(Ar34)
* (SoRe22)-[:HAS_SOURCE]->(So23)
* (CoEn7)-[:HAS_COMPOSITION_FEATURE]->(CoFe37)
* (CoFe37)-[:HAS_INTERPRETATION]->(In38)
* (In38)-[:IDENTIFIED_AS]->(Co39)
* (In38)-[:STATED_BY]->(Ag13)
* (CoEn7)-[:HAS_COMPOSITION_FEATURE]->(CoFe28)
* (CoFe28)-[:HAS_INTERPRETATION]->(In21)
* (In21)-[:IDENTIFIED_AS]->(Co29)
* (In21)-[:STATED_BY]->(Ag13)
* (CoEn7)-[:HAS_INTERPRETATION]->(In14)
* (In14)-[:IDENTIFIED_AS]->(Co11)
* (In14)-[:IMPAIRED_BY]->(Ar18)
* (In14)-[:IMPAIRED_BY]->(Ar20)
* (In14)-[:HAS_SOURCE_REFERENCE]->(SoRe24)
* (SoRe24)-[:HAS_SOURCE]->(So23)
* (SoRe24)-[:HAS_EVIDENTIARY_RELATIONSHIP]->(Ar25)
* (In14)-[:SUPPORTED_BY]->(Ar15)
* (In14)-[:HAS_SOURCE_REFERENCE]->(SoRe33)
* (SoRe33)-[:HAS_SOURCE]->(So32)
* (SoRe33)-[:HAS_EVIDENTIARY_RELATIONSHIP]->(Ar34)
* (In14)-[:STATED_BY]->(Ag13)
* (Un5)-[:HAS_DATING]->(Da48)
* (Da48)-[:STATED_BY]->(Ag13)
* (Un5)-[:HAS_PRODUCTION_PLACE]->(UnPrPl4)
* (UnPrPl4)-[:HAS_INTERPRETATION]->(In3)
* (In3)-[:IDENTIFIED_AS]->(Co2)
* (In3)-[:STATED_BY]->(Ag13)
* (Un5)-[:HAS_DENOMINATION]->(UnDe45)
* (UnDe45)-[:HAS_INTERPRETATION]->(In46)
* (In46)-[:IDENTIFIED_AS]->(Co47)
* (In46)-[:STATED_BY]->(Ag13)
</div>